/* Silly Slug! */
.hover-image-container {
    position: fixed;
    left: 0px;
    bottom: 0px;
    /* float: left;  */
    width: 300px;
    display: inline-block;
}

.about-text {
    position: relative;
    left: 117px;
}

/* start button cursor hover effect */
img.heart:hover {
    transform: scale(1.15);
}

h1 {
    font-size: 400%;
    color: #b62656;
}



/* putting the start text in the sleart (slug heart) */
#start-box {
    position: relative;
    text-align: center;
}

.start-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img .heart {
    position: absolute;
    top: 50%;
    left: 50%;
}

img .hover-image {
    position: absolute;
    float: left;
}

