/* Silly Slug! */
.hover-image-container {
    left: 0px;
    bottom: 0px;
    width: 400px;
    float: left;
}

.about-text {
    position: relative;
    font-size: 20px;
}

.about-section{
    margin-right: auto; /* Pushes content left */
    padding-left: -200px; /* Adjust as needed */
}



/* start button cursor hover effect */
img.heart:hover {
    transform: scale(1.15);
}

h1 {
    font-size: 400%;
    color: #b62656;
}



/* putting the start text in the sleart (slug heart) */
#start-box {
    position: relative;
    text-align: center;
}

.start-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
}
