

 /* NOTE THIS IS PLACEHOLDER CSS!!! */



body {
    background-color: #0b032d;
  }
  

  /* we can have rules apply to multiple elements at the same time with commas */
  h1,h2,h3 {
    font-family: 'Courier New', Courier, monospace
  }
  
  /* and we can have rules that overlap other rules, both take effect */
  h1 {
    letter-spacing: 5px;
    word-spacing: 5px;
    font-size: 200%;
  }
  
  /* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
  #content {
    margin: 10px;
    padding: 10px;
    border: solid 1.5px #ffb997;
    background-color: #843b62;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }
  
  /* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
  .minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: dashed 3px #560b40;
    background-color: #f67e7d;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }
