 /* NOTE THIS IS PLACEHOLDER CSS!!! */


body {
    background-color: #484075;
 
  }
  
  /* we can have rules apply to multiple elements at the same time with commas */
  *,h1,h2,h3 {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
  }
  
  /* and we can have rules that overlap other rules, both take effect */
  h1 {
    letter-spacing: 5px;
    word-spacing: 5px;
    font-size: 200%;
  }
  
  /* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
  #content {
    margin: 10px;
    padding: 10px;
    border: solid 1.5px #2d22be;
    background-color: hsl(49, 100%, 76%);
  }
  
  /* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
  .minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: dashed 3px #ffffff;
    background-color: lab(80.06% 10.32 59.91);
  }
