 /* PLACEHOLDER */
#map {
    margin: 0 auto; 
    padding: 10px;
    border: solid 4px #f67e7d;
    background-color: #843b62;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }
#map {
  width: 50vw !important;
  margin-bottom: 10px;
}





/* More Placeholders */
#post-prompt {
    padding: 10px;
    margin-bottom: 10px;
    border: dashed 3px #560b40;
    background-color: #f67e7d;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }