/*Silly Slug!*/
.hover-image-container {
  position: absolute;
  right: 50px;
  bottom: 10px;
}

/*table of contents*/

#popupOverlay {
  /* other styles */
  opacity: 0;
  transition: opacity 0.3s ease;
  display: none;
}

#popupOverlay.active {
  opacity: 1;
}

/* Animation */
@keyframes fadeIn {
  from {opacity: 0; transform: translateY(-20px);}
  to {opacity: 1; transform: translateY(0);}
}

/*instruction columns*/
.minor-section-columned {
  padding: 10px;
  margin-bottom: 10px;
  border: dashed 5px #bb355d;
  background-color: #FFE985;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.column {
  flex: 0.25;
  margin: 10px;
}

.minor-section-columned > h3 {
  display: inline-block;
}

/*link alignment*/
a.map {
  float: right;
}

/*link effects*/
a.home:hover {
  color: #FFE985;
}

a.map:hover {
  color: #FFE985;
}

.column img{
  width: 350px;
  height: auto;
}

/* about*/

.home {
    position: relative;
    left: 20px;
    font-size: 20px;
}

.map {
    position: relative;
    font-size: 20px;
}

img {
    margin: auto;
    width: 120px;
  }