/*Silly Slug!*/
.hover-image-container {
  position: absolute;
  right: 50px;
  bottom: 10px;
}

/*table of contents*/

#popupOverlay {
  /* other styles */
  opacity: 0;
  transition: opacity 0.3s ease;
  display: none;
}

#popupOverlay.active {
  opacity: 1;
}

/* Animation */
@keyframes fadeIn {
  from {opacity: 0; transform: translateY(-20px);}
  to {opacity: 1; transform: translateY(0);}
}


.minor-section-columned {
  column-count: 4;
  padding: 10px;
  margin-bottom: 10px;
  border: dashed 5px #bb355d;
  background-color: #FFE985;
  border-radius: 25px;
}

.minor-section-columned > h3 {
  display: inline-block;
}

